@use "./reset";
@use "./common/spacing.scss";

.app-container {
  padding: 15px;
}

.search-bar {
  padding: 18px 0 0 10px;
  margin-bottom: 10px;
  background-color: var(--el-bg-color-overlay);
  border: 1px solid var(--el-border-color-light);
  border-radius: 4px;
  box-shadow: var(--el-box-shadow-light);
}

.table-container > .el-card__header {
  padding: calc(var(--el-card-padding) - 8px) var(--el-card-padding);
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32 160 255);
  }
}

.lcAdd-button {
  width: 100%;
  background: transparent !important;
  border: 1px dashed #4080ff !important;
  color: #4080ff !important;
  &:hover {
    background: rgba(64, 158, 255, 0.1) !important; /* 悬停时添加浅色背景 */
    border: 1px dashed #6e97eb !important; /* 保持虚线边框 */
    color: #6e97eb !important; /* 保持文字颜色 */
  }
}
